body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    padding: 115px;
    padding-top: 30px;
    margin: 0;
}

.header {
    text-align: center;
    background-color: blanchedalmond ;
    color: black;
    padding: 20px;
    max-width: 920px;
    width: 90%;
    margin: 0 auto 15px; 
}

.header h2 {
    text-decoration: underline;   
}

.header p {
    margin: 4px 0;  
    line-height: 1.3;
}

.profile-pic {
    width: 150px;
    height: 155px;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 10px;

}

.header:hover {
    transform: scale(1.03);
    background-color: blanchedalmond ;
    box-shadow: 0 10px 20px rgba(0,0,0,.15);
}

.section {
    background: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
}

.skill-title {
    text-decoration: underline;
    font-weight: bold;
}

.experience-title {
    text-decoration: underline;
    font-weight: bold;
}

.education-title {
    text-decoration: underline;
    font-weight: bold;
}

h3 {
    color: #003366;
}

ul {
    margin-left: 20px;
}

.resume-grid {
    width: 80%;
    max-width: 900px;
    margin: 15px auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.section {
    background: white;
    padding: 16px 18px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.08);
    transition: all 0.25s ease;
}

.section:hover {
    transform: scale(1.03);
    background-color: #fffbe9;
    box-shadow: 0 10px 20px rgba(0,0,0,.15);
}




